@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-basecolor: var(--Base-Colours-07, #F9FAFB);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 1156px;
}


.home-table .ant-select.ant-pagination-options-size-changer::before {
  content: "Show";
  color: #22222F;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}

.home-table .ant-select.ant-pagination-options-size-changer::after {
  content: "entries";
  color: #22222F;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
}

.ant-pagination{
  margin-top: -38px!important;
}
.ant-table-footer{
background-color: #ffffff!important;
width: fit-content;
}